.cart-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}
/* CartItemContainer.css */
.total-price {
    margin-top: 20px;
    padding: 20px;
    text-align: right;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
}

.checkout-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.checkout-button:hover {
    background-color: #45a049;
}

.empty-cart {
    margin-top: 50px;
    padding: 20px;
    background-color: #f8d7da; /* Color de fondo rosa claro para error */
    color: #721c24; /* Color de texto rojo oscuro para contraste */
    border: 1px solid #f5c6cb; /* Borde más claro */
}

.cart-icon {
    width: 50px
}
