/* Estilos para centrar el contenido de Checkout */
.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cart-summary-container {
    width: 100%;
    max-width: 600px; /* Ajusta esto según tus necesidades */
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.cart-summary {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}

.cart-summary strong {
    color: #333;
}

.checkout-container h3 {
    color: #333;
    margin-top: 5px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    font-size: 1.2em;
}

.total-price h3 {
    margin: 0;
}

.total-price p {
    margin: 0;
    font-weight: bold;
    color: #007BFF;
}