/* Estilos generales de la NavBar */
.navbar {
    background-color: #f8f8f8;
    padding: 10px 20px; /* Espaciado interno */
    padding-right: 10px;
}

.nav-item a{
    margin-left: 15px; 
}

.nav-link a{
    color: #555;
    transition: color 0.3s ease-in-out; 
    text-decoration: none;
}

a.active {
    color: red;
}